@model MotorReservas.Entidad.Usuario

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Motor de Reservas</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <link href="~/Scripts/Tools/css/style.css" rel="stylesheet" />
    <link rel="shortcut icon" href="~/Content/Imgs/kbackgammon-motor-icono-4231-48.ico">

    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/Tools/js/jquery.form.js"></script>
    <script src="~/Scripts/Tools/js/ini.js"></script>
    <script type="text/javascript">
        function base_url(url) {
            return '@(Url.Content("~/"))' + url;
        }
        function redirect(href) {
            window.location.href = '@(Url.Content("~/"))' + href;
        }
    </script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
    </div>
    <div class="container">
        @using (Html.BeginForm("Acceder", "Login", FormMethod.Post, new { @class = "form-horizontal" }))
        {
            <div class="form-group">
                <h2>Ingresar <small>Formulario de Login</small> </h2>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <label class="sr-only" for="Correo">Correo</label>
                    <div class="input-group-addon">@@</div>
                    @Html.ValidationMessageFor(model => model.Correo, string.Empty, new { @class = "form-control-static", @style = "color:red " })
                    @Html.TextBoxFor(model => model.Correo, new { @class = "form-control", placeholder = "Ingrese su correo", maxlength = 50 })
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <label class="sr-only" for="Clave">Clave</label>
                    @Html.ValidationMessageFor(model => model.Clave, string.Empty, new { @class = "form-control-static", @style = "color:red" })
                    @Html.PasswordFor(model => model.Clave, new { @class = "form-control", placeholder = "Ingrese su clave", maxlength = 10 })
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <button type="submit" class="btn btn-primary" data-ajax="true">Ingresar</button>
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <footer>
                        <p>&copy; @DateTime.Now.ToLongDateString()   - Motor de Reservas</p>
                    </footer>
                </div>
            </div>
        }
    </div>
</body>
</html>
