@model MotorReservas.Entidad.Modulos_Tiene_Rol

@{
    ViewBag.Title = "Asignar Modulo al Rol"; 
}

<h2>Asignar Modulo al Rol</h2>

@using (Html.BeginForm("SaveModuleToRol", "Rol", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Modulos</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.IdRol)
        @Html.HiddenFor(model => model.FechaRegistro)
        @Html.HiddenFor(model => model.Activo)

        <div class="form-group">
            @Html.LabelFor(model => model.IdRol, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @{ 
                    List<SelectListItem> listItems = new List<SelectListItem>();
                    foreach (MotorReservas.Entidad.Modulo module in ViewBag.Modulos)
                    {
                        listItems.Add(new SelectListItem { Text = module.Nombre, Value = module.IdModulo.ToString() });
                    }
                }
                @Html.DropDownListFor(lstModulos => lstModulos.IdModulo,
                                        listItems, "-- Seleccionar Empresa --")
                <input type="hidden" name="IdModulo" id="txtIdModulo" value="" />
            </div>
        </div> 

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" class="btn btn-default" data-ajax="true">Asignar</button>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Volver a la Lista", "GiveModuleToRol", new { id = Model.IdRol })
</div>


<script type="text/javascript">

    $(document).ready(function () {
        $("#IdModulo").change(function (e) {
            $("#txtIdModulo").val($("#IdModulo").val());
        });
    });

</script>