@model IEnumerable<MotorReservas.Entidad.Rol>

@{
    ViewBag.Title = "Listado de Roles";
}

<h2>Listado de roles vigentes</h2>

<p>
    @Html.ActionLink("Crear nuevo Rol", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaRegistro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Activo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaRegistro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Activo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.IdRol }) |
                @Html.ActionLink("Detalle", "Detail", new { id = item.IdRol }) |
                @Html.ActionLink("Borrar", "Delete",
                    new { id = item.IdRol },
                    new { onclick = "return confirm('Esta seguro que desea eliminar el Rol?')" })
            </td>
        </tr>
    }

</table>
