@model IEnumerable<MotorReservas.Entidad.Empresa>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdPerfil)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdCiudad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Identificacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telefono)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Direccion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Activo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaRegistro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UrlImagen1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UrlImagen2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UrlImagen3)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IdPerfil)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdCiudad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Identificacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telefono)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Direccion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Activo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaRegistro)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UrlImagen1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UrlImagen2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UrlImagen3)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdEmpresa }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdEmpresa }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdEmpresa })
        </td>
    </tr>
}

</table>
