@model IEnumerable<MotorReservas.Entidad.Usuario>

@{
    ViewBag.Title = "Usuarios";
}

<h2>Lista de Usuarios en el Sistema</h2>

<p>
    @Html.ActionLink("Nuevo Usuario", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Correo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Activo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaUltimoRegistro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Apellido)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Correo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Activo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaUltimoRegistro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.IdUsuario }) |
                @Html.ActionLink("Detalle", "Details", new { id = item.IdUsuario }) |
                @Html.ActionLink("Borrar", "Delete",
                    new { id = item.IdUsuario },
                    new { onclick = "return confirm('Esta seguro que quiere borrar este Usuario?');" })
            </td>
        </tr>
    }

</table>
