@{
    List<MotorReservas.Entidad.Modulo> modulos = (List<MotorReservas.Entidad.Modulo>)Session["modulos"];
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Modulo de Configuracion</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryUI")
    @Scripts.Render("~/bundles/bootstrap")

    <link href="~/Scripts/Tools/css/style.css" rel="stylesheet" />
    <link rel="shortcut icon" href="~/Content/Imgs/kbackgammon-motor-icono-4231-48.ico">

    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/Tools/js/jquery.form.js"></script>
    <script src="~/Scripts/Tools/js/ini.js"></script>
    <script type="text/javascript">
        function base_url(url) {
            return '@(Url.Content("~/"))' + url;
        }
        function redirect(href) {
            window.location.href = '@(Url.Content("~/"))' + href;
        }
    </script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Centro Administrativo", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Salir de Sesion", "logout", "Usuario")</li>
                    @if (modulos != null && modulos.Exists(mod => mod.IdModulo == (int)MotorReserva.Entidad.ENUMERACION_MODULOS.Administrativo) == true)
                    {
                        <li>
                            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                <ul class="nav navbar-nav navbar-right">
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Modulo Administrativo<b class="caret"></b></a>
                                        <ul class="dropdown-menu">
                                            <li><a href="~/modulo/index">Modulos</a></li>
                                            <li class="divider"></li>
                                            <li><a href="~/rol/index">Roles</a></li>
                                            <li class="divider"></li>
                                            <li><a href="~/usuario/index">Usuarios</a></li>
                                            <li class="divider"></li>
                                            <li><a href="~/empresa/index">Empresas</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    }
                    else
                    {
                        <li>
                            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                <ul class="nav navbar-nav navbar-right">
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Operaciones<b class="caret"></b></a>
                                        <ul class="dropdown-menu">
                                            @foreach (Modulo mod in modulos)
                                            {
                                                <li><a href="~/@mod.Controlador">@mod.Nombre</a></li>
                                                <li class="divider"></li>
                                            }
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Motor Reservas</p>
        </footer>
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>
